<div class="card has-background-<%= color %>-90" data-action="mouseleave->section#setCopyMessage" data-controller="section">
  <div class="card-content">
    <div class="content">
      <p class="is-size-5 is-clickable is-text-<%= color %>-on-hover" data-action="click->section#copy">
        <%= @entry_section  %>
      <p>
      <%= hidden_field_tag input_name, @entry_section, data: { "section-target": "term" } %>
      <span class="is-size-6 is-italic has-text-<%= color %>-45">  <%= @name_section %> </span>
      <% if example?  %>
        <hr>
        <ul>
          <li> <%= @example_section %> </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
